<style type="text/css">
  .mnemonic-modal {
    font-family: "Roboto", sans-serif;
  }

  .mnemonic-modal h3 {
    font-family: inherit;
    margin-top: 0;
  }

  .mnemonic-modal p {
    font-family: inherit;
    margin: 8px 0;
    font-size: small;
  }

  .mnemonic-modal .mnemonic {
    padding: 16px 24px;
    text-align: center;
    word-spacing: 22px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin: 8px 0;
  }
</style>
<div class="mnemonic-modal">
  <h3>Write Your Mnemonic Down</h3>
  <p>We have generated your mnemonic. It is presented to you below.</p>
  <p>
    Please write it down and save it in a safe place because this will be the
    only way to recover your funds if anything goes wrong.
  </p>
  <div class="mnemonic">%{mnemonic}</div>
</div>
